.reserva {
    width: 90%;
    margin: auto;
    padding-bottom: 7em;
}

    .reserva > div {
        display: flex;
        padding: 2em;
        box-shadow: 1px 1px 0 lightgrey;
        margin: auto;
        background: white;
        margin-bottom: 1em;
        text-align: center;
        border-right: 15px solid #480c4c;
        justify-content: center;
    }

        .reserva > div > div {
            color: dimgrey;
            //display: flex;
            //justify-content: space-between;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            background: white;
            text-align: center;
            margin: 1em 0;
        }

        .reserva > div > div  span {
            font-weight: 600;
            color: #212121;
        }


.botoncancelar {
    padding: 0;
    border: none;
    font-size: 2.5em;
}

    .botoncancelar > i {
        transform: rotate(90deg);
        color: #da1c1c;
    }
